/*MEDIA QUERIES*/

@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }
    
    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #1e1b4b;
        width: 100%;
        top: 46px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;    
    }


}
/*teste*/